<div class="row">
  <h1>hello</h1>
  <div class="row">
    <div class="col-sm-10 col-lg-5 col-md-6">
      <div class="card card-header"> Metric</div>
      <div class="card card-body">
        <ngx-json-viewer [json]="someObject"></ngx-json-viewer>


      </div>
    </div>
    <div class="col-md-12 col-10">
      <nb-card>


        <nb-card-header>Hero Buttons</nb-card-header>
        <nb-card-body>
          <div class="row">
            <!---->
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
              <div class="container-title">
                <span>Primary Button</span>
              </div>
              <div class="container-btn">
                <button class="btn btn-hero-primary btn-demo">Primary</button>
              </div>
              <div class="primary-container">
                <!---->
                <!---->
                <div class="state-container">
                  <div class="state-value gradient"></div>
                  <div class="state-details">
                    <span class="header">Linear Gradient</span>
                    <span class="subheader">adjust-hue(#7659ff, 20deg)</span>
                    <span class="subheader">#7659ff</span>
                  </div>
                </div>
                <div class="state-container">
                  <div class="state-value bevel"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Bevel</span>
                    <span class="subheader">0 3px 0 0</span>
                    <span class="subheader">shade(#7659ff, 14%)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value shadow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Shadow</span>
                    <span class="subheader">0 4px 10px 0</span>
                    <span class="subheader">rgba (6, 7, 64, 0.5)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value glow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Glow</span>
                    <span class="subheader">0 2px 12px 0</span>
                    <span class="subheader">adjust-hue(#7659ff, 10deg)</span>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
              <div class="container-title">
                <span>Warning Button</span>
              </div>
              <div class="container-btn">
                <button class="btn btn-hero-warning btn-demo">Warning</button>
              </div>
              <div class="warning-container">
                <!---->
                <!---->
                <div class="state-container">
                  <div class="state-value gradient"></div>
                  <div class="state-details">
                    <span class="header">Linear Gradient</span>
                    <span class="subheader">adjust-hue(#ffa100, 10deg)</span>
                    <span class="subheader">#ffa100</span>
                  </div>
                </div>
                <div class="state-container">
                  <div class="state-value bevel"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Bevel</span>
                    <span class="subheader">0 3px 0 0</span>
                    <span class="subheader">shade(#ffa100, 14%)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value shadow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Shadow</span>
                    <span class="subheader">0 4px 10px 0</span>
                    <span class="subheader">rgba (33, 7, 77, 0.5)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value glow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Glow</span>
                    <span class="subheader">0 2px 12px 0</span>
                    <span class="subheader">adjust-hue(#ffa100, 5deg)</span>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
              <div class="container-title">
                <span>Success Button</span>
              </div>
              <div class="container-btn">
                <button class="btn btn-hero-success btn-demo">Success</button>
              </div>
              <div class="success-container">
                <!---->
                <!---->
                <div class="state-container">
                  <div class="state-value gradient"></div>
                  <div class="state-details">
                    <span class="header">Linear Gradient</span>
                    <span class="subheader">adjust-hue(#00d977, 20deg)</span>
                    <span class="subheader">#00d977</span>
                  </div>
                </div>
                <div class="state-container">
                  <div class="state-value bevel"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Bevel</span>
                    <span class="subheader">0 3px 0 0</span>
                    <span class="subheader">shade(#00d977, 14%)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value shadow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Shadow</span>
                    <span class="subheader">0 4px 10px 0</span>
                    <span class="subheader">rgba (33, 7, 77, 0.5)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value glow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Glow</span>
                    <span class="subheader">0 2px 12px 0</span>
                    <span class="subheader">adjust-hue(#00d977, 10deg)</span>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
              <div class="container-title">
                <span>Info Button</span>
              </div>
              <div class="container-btn">
                <button class="btn btn-hero-info btn-demo">Info</button>
              </div>
              <div class="info-container">
                <!---->
                <!---->
                <div class="state-container">
                  <div class="state-value gradient"></div>
                  <div class="state-details">
                    <span class="header">Linear Gradient</span>
                    <span class="subheader">adjust-hue(#0088ff, -10deg)</span>
                    <span class="subheader">#0088ff</span>
                  </div>
                </div>
                <div class="state-container">
                  <div class="state-value bevel"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Bevel</span>
                    <span class="subheader">0 3px 0 0</span>
                    <span class="subheader">shade(#0088ff, 14%)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value shadow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Shadow</span>
                    <span class="subheader">0 4px 10px 0</span>
                    <span class="subheader">rgba (33, 7, 77, 0.5)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value glow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Glow</span>
                    <span class="subheader">0 2px 12px 0</span>
                    <span class="subheader">adjust-hue(#0088ff, -5deg)</span>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
              <div class="container-title">
                <span>Danger Button</span>
              </div>
              <div class="container-btn">
                <button class="btn btn-hero-danger btn-demo">Danger</button>
              </div>
              <div class="danger-container">
                <!---->
                <!---->
                <div class="state-container">
                  <div class="state-value gradient"></div>
                  <div class="state-details">
                    <span class="header">Linear Gradient</span>
                    <span class="subheader">adjust-hue(#ff386a, -20deg)</span>
                    <span class="subheader">#ff386a</span>
                  </div>
                </div>
                <div class="state-container">
                  <div class="state-value bevel"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Bevel</span>
                    <span class="subheader">0 3px 0 0</span>
                    <span class="subheader">shade(#ff386a, 14%)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value shadow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Shadow</span>
                    <span class="subheader">0 4px 10px 0</span>
                    <span class="subheader">rgba (33, 7, 77, 0.5)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value glow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Glow</span>
                    <span class="subheader">0 2px 12px 0</span>
                    <span class="subheader">adjust-hue(#ff386a, -10deg)</span>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
              <div class="container-title">
                <span>Ghost Button</span>
              </div>
              <div class="container-btn">
                <button class="btn btn-hero-secondary btn-demo">Ghost</button>
              </div>
              <div class="secondary-container">
                <!---->
                <div class="state-container">
                  <div class="state-value border"></div>
                  <div class="state-details">
                    <span class="header">Border</span>
                    <span class="subheader">#7659ff</span>
                  </div>
                </div>
                <!---->
                <div class="state-container">
                  <div class="state-value bevel"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Bevel</span>
                    <span class="subheader">0 3px 0 0</span>
                    <span class="subheader">#665ebd</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value shadow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Shadow</span>
                    <span class="subheader">0 4px 10px 0</span>
                    <span class="subheader">rgba (33, 7, 77, 0.5)</span>
                  </div>
                  <!---->
                </div>
                <div class="state-container">
                  <div class="state-value glow"></div>
                  <!---->
                  <div class="state-details">
                    <span class="header">Glow</span>
                    <span class="subheader">0 2px 12px 0</span>
                    <span class="subheader">rgba (146, 141, 255, 1)</span>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>

      </nb-card>
    </div>

  </div>

</div>
