<div class="container-fluid p-0 content-row">
    <div class="row border-danger" *ngIf="error">
        <div class="col-12 text-center text-danger pb-3">
            <div class="card border-danger">
                <div class="card-header">Error</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <nb-card>
                <nb-card-header>Code:</nb-card-header>
                <nb-card-body>
                    <div class="input-group">
                        <textarea rows="15"
                                  [(ngModel)]="code"
                                  placeholder="Code Here"
                                  class="form-control">
                        </textarea>
                    </div>
                    <button class="btn btn-sm btn-success text-center"
                            (click)="onGetMetricsCLick()">Get Metric
                    </button>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-6 h-100">
            <nb-card>
                <nb-card-header>Metrics:</nb-card-header>
                <nb-card-body *ngIf="isLoaded">
                    <ngx-json-viewer [json]="metrics"></ngx-json-viewer>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>