<div class="container-fluid p-0 content-row">
    <div class="row border-danger" *ngIf="error">
        <div class="col-12 text-center text-danger pb-3">
            <div class="card border-danger">
                <div class="card-header">{{error}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <nb-card>
                <nb-card-header>{{editorHeader}}</nb-card-header>
                <nb-card-body>
                    <div class="input-group">
                        <textarea rows="15"
                                  [(ngModel)]="code"
                                  placeholder="Code Here"
                                  class="form-control">
                        </textarea>
                    </div>
                    <div class="row pt-3">
                        <button class="btn btn-sm btn-outline-primary m-auto"
                                [disabled]="!code"
                                (click)="onGetMetricsCLick()">Get Metric
                        </button>
                        <button class="btn btn-sm btn-outline-danger m-auto"
                                [disabled]="!code"
                                (click)="onCompareCLick()">Compare
                        </button>
                    </div>

                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-6 h-100">
            <nb-card>
                <nb-card-header>{{metricHeader}}</nb-card-header>
                <nb-card-body *ngIf="isLoaded">
                    <ngx-json-viewer [expanded]="false" [json]="metrics"></ngx-json-viewer>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div *ngIf="isLoaded">
        <div class="row">
            <div class="col-lg-12">
                <nb-card>
                    <nb-card-header>{{compareResults?.message}}</nb-card-header>
                    <nb-card-body>
                        <canvas id="canvas" width="100%" style="display: block">
                            {{chart}}
                        </canvas>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

        <div class="row">
            <div class="col"><h2>Details:</h2></div>

        </div>
        <div class="row">
            <div class="col-6" *ngIf="compareResults?.fromDb">
                <nb-card>
                    <nb-card-header>From DB:</nb-card-header>
                    <nb-card-body>
                        <ngx-json-viewer [expanded]="false"
                                         [json]="compareResults?.fromDb"></ngx-json-viewer>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-6" *ngIf="compareResults?.fromEditor">
                <nb-card>
                    <nb-card-header>From Editor</nb-card-header>
                    <nb-card-body>
                        <ngx-json-viewer [expanded]="false"
                                         [json]="compareResults?.fromEditor"></ngx-json-viewer>
                    </nb-card-body>
                </nb-card>
            </div>

        </div>
    </div>
</div>
