<div class="container-fluid p-0 content-row">
    <div class="row border-danger" *ngIf="error">
        <div class="col-12 text-center text-danger pb-3">
            <div class="card border-danger">
                <div class="card-header">{{error}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <nb-card>
                <nb-card-header>{{editorHeader}}</nb-card-header>
                <nb-card-body>
                    <div class="input-group">
                        <textarea rows="15"
                                  [(ngModel)]="code"
                                  placeholder="Code Here"
                                  class="form-control">
                        </textarea>
                    </div>
                    <div class="row pt-3">
                        <button class="btn btn-sm btn-outline-success m-auto"
                                (click)="onGetMetricsCLick()">Get Metric
                        </button>
                        <button class="btn btn-sm btn-outline-info m-auto"
                                (click)="onCompareCLick()">Compare
                        </button>
                    </div>

                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-6 h-100">
            <nb-card>
                <nb-card-header>{{metricHeader}}</nb-card-header>
                <nb-card-body *ngIf="isLoaded">
                    <ngx-json-viewer [expanded]="false" [json]="metrics"></ngx-json-viewer>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-3">
            <div class="card border-info">
                <div class="card-header">Results:</div>
                <div class="card-body">{{compareResults?.message}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-3">
            <nb-card>
                <nb-card-header>Bar</nb-card-header>
                <nb-card-body>
                    <ngx-chartjs-bar></ngx-chartjs-bar>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
